
:root {
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.chatbox-popup, .chatbox-panel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}

.chatbox-popup button, .chatbox-panel button {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;    
}

button.chatbox-open {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 16px;
}

button.chatbox-close {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

.chatbox-popup textarea, .chatbox-panel textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: calc(16px + 16px / 2);
    padding: 0 calc(16px / 2);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    border: 0;
    outline: 0 !important;
    resize: none;
    overflow: hidden;
}

.chatbox-popup textarea::-webkit-input-placeholder, .chatbox-panel textarea::-webkit-input-placeholder {
    color: #888;
}

.chatbox-popup textarea::-moz-placeholder, .chatbox-panel textarea::-moz-placeholder {
    color: #888;
}

.chatbox-popup textarea:-ms-input-placeholder, .chatbox-panel textarea:-ms-input-placeholder {
    color: #888;
}

.chatbox-popup textarea::-ms-input-placeholder, .chatbox-panel textarea:-ms-input-placeholder {
    color: #888;
}

.chatbox-popup textarea::placeholder, .chatbox-panel textarea:-ms-input-placeholder {
    color: #888;
}

.chatbox-popup {
    display: -webkit-box;
    display: flex;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: none;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 377px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
}

.chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
    margin-top: -32px;
    background-color: #0360a5;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
}

.chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.chatbox-panel {
    display: -webkit-box;
    display: flex;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 377px;
    background-color: #fff;
}

.chatbox-panel .chatbox-panel__header {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.chatbox-panel .chatbox-panel__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.chatbox-panel .chatbox-panel__footer {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.chatbox-popup > .aside_1 {
    flex: 3;   
}
.chatbox-popup > .aside_2 {
    flex: 8;   
}
.chatbox-popup > .aside_3 {
    flex: 1;   
}
.chatbox-popup > .aside_4 {
    flex: 11;   
}
.chatbox-popup > .aside_5 {
    flex:1;
    color:#888;
    text-align:center;   
}

.chatbox-panel > .aside_1 {
    flex: 3;   
}
.chatbox-popup > .aside_2 {
    flex: 6;   
}
.chatbox-popup > .aside_3 {
    flex:3;
    text-align:right;  
}
.chatbox-popup > .aside_4 {
    flex: 11;   
}
.chatbox-popup > .aside_5 {
    flex:1;
    color:#888;
    text-align:center;   
}

.chatbox-panel__main .j_scroll_chat_panel .j_msger_chat {
    flex:1
}

.j_scroll_chat_popup {  
    height: 300px;
    overflow: auto;
}

.j_scroll_chat_panel{
    height: 500px;
    overflow: auto;
}


